{{#partial "deps"}}
<link rel="stylesheet" href="/css/form.css" />
<link rel="stylesheet" href="/css/login.css" />
{{/partial}}
{{#partial "content"}}
<form id="login" action="/login" method="POST">
	<h2>Login</h2>
	<label>Login</label>
	<input required type="text" name="login" />
	<label>Password</label>
	<input required type="password" name="password" />
	<button>Login</button>
</form>
Don't have an account? <a href="/register">Register</a>
{{/partial}}
{{>base}}