{{#partial "deps"}}
<link rel="stylesheet" href="/css/form.css" />
<link rel="stylesheet" href="/css/register.css" />
{{/partial}}
{{#partial "content"}}
<form id="register" action="/register" method="POST">
	<h2>Register</h2>
	<label>Login</label>
	<input required type="text" name="login" />
	<label>Password</label>
	<input required type="password" name="password" />
	<button>Register</button>
</form>
{{/partial}}
{{>base}}