.section {
	width: 100%;
	height: 110vh;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	justify-content: center;
	position: relative;
	padding-bottom: 10%;
}

.section > h2 {
	font-size: 3em;
	text-align: center;
	margin: 0.5em 0;
	transition: 0.2s ease-in font-size;
	cursor: default;
	overflow: hidden;
	color: white;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.section > .background {
	position: fixed;
	min-width: 100vw;
	min-height: 100%;
	z-index: -1;
	top: 0;
	transition: 0.5s ease-in transform;
	filter: saturate(70%) contrast(80%);
}

.section:first-of-type:hover > h2 {
	font-size: 3em;
}

.section:nth-of-type(odd) {
	margin-top: -10%;
	-webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
	clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
	background: white;
	padding-top: 10%;
}
.section:nth-of-type(2) {
	-webkit-clip-path: polygon(100% 0, 100% 91%, 50% 100%, 0 91%, 0 0, 50% 9%);
	clip-path: polygon(100% 0, 100% 91%, 50% 100%, 0 91%, 0 0, 50% 9%);
	padding-top: 9%;
	margin-top: -9%;
	padding-bottom: 9%;
}

.section:last-of-type {
	-webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
	margin-top: -10%;
}

.section:first-child > h2 {
	color: inherit;
	text-shadow: none;
}

.section:first-child {
	height: 135vh;
	padding-bottom: none;
	clip-path: none;
}

.section > span {
	color: white;
	text-align: center;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}
