button {
	padding: 0.25em 0.5em;
}

input, button {
	font-size: 1em;
	border-radius: 0.25em;
}

button {
	background: rgb(180,180,240);
	color: rgb(30,30,30);
	padding: 0.5em 1em;
	border: none;
	transition: 0.2s ease-in opacity;
	cursor: pointer;
}

input {
	border: 1px solid rgb(90,90,110);
	padding: 0.25em 0.2em;
}

form:invalid > button {
	pointer-events: none;
	opacity: 0.7;
}