#header {
	display: flex;
	padding: 1em;
	background: rgb(255,255,255);
	box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
	position: sticky;
	top: -3.5em;
	z-index: 10;
	height: 4em;
	font-size: 1em;
	box-sizing: border-box;
	align-items: center;
	margin: 0 20%;
	transition: 0.2s ease-in top;
	overflow: hidden;
}

#header > .placeholder {
	flex-grow: 1;
}

#header > a {
	color: black;
	text-decoration: none;
	font-size: 1.25em;
	margin: 0 0.5em;
}

#header > a:after {
	content: "";
	width: 100%;
	height: 1px;
	background: none;
	display: block;
	transition: 0.1s ease-in background;
}

#header > a:hover:after {
	background: black;
}

#header-check {
	display: none;
}

#header-check:checked ~ #header {
	top: 0px;
}

#check-label-wrapper {
	position: sticky;
	margin-top: -1.5em;
	top: 1em;
	bottom: -1em;
	width: 100vw;
	text-align: center;
	left: 0;
	z-index: 9;
	transition: 0.2s ease-in top;
	display: flex;
	justify-content: center;
}

#header-check ~ #check-label-wrapper > label {
	position: absolute;
	width: 3em;
	height: 3em;
}

#header-check ~ #check-label-wrapper > label:after {
	margin: auto;
	transition: 0.1s ease-in-out clip-path;
	display: block;
	content: "";
	height: 2em;
	width: 2em;
	-webkit-clip-path: polygon(100% 0, 100% 15%, 50% 45%, 0 15%, 0 0, 50% 28%);
	clip-path: polygon(100% 0, 100% 15%, 50% 45%, 0 15%, 0 0, 50% 28%);
	background: black;
}

#header-check:checked ~ #check-label-wrapper > label:after {
	content: "^";
	-webkit-clip-path: polygon(100% 50%, 100% 65%, 50% 45%, 0 65%, 0 50%, 50% 28%);
	clip-path: polygon(100% 50%, 100% 65%, 50% 45%, 0 65%, 0 50%, 50% 28%);
}

#header-check:checked ~ #check-label-wrapper {
	top: 4.5em;	
}