body {
	height: 100vh;
}

#content {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	height: calc(100vh - 5em);
}

#login {
	display: flex;
	flex-flow: column;
}

#login > h2 {
	text-align: center;
	margin-bottom: 0;
	cursor: default;
}

#login > label {
	margin-top: 0.75em;
	margin-bottom: 0.25em;
}

#login > input {
	width: fit-content;
}

#login > button {
	margin: 1em 0;
	width: fit-content;
	align-self: center;
}