#content {
	margin-top: 4em;
}

.section-avatar {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.section-avatar > .nickname {
	font-size: 1.5em;
}

.section-avatar > .bio {
	margin-top: 1em;
}

.section-galleries {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2em;
	margin: auto;
	width: fit-content;
	margin-top: 5em;
	padding: 2em 0;
}

.gallery {
	position: relative;
	width: 20vw;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
}

.gallery > img {
	margin: auto;
	width: 20vw;
	height: 20vw;
}

.gallery > span {
	text-align: center;
	width: 100%;
	display: block;
	padding-bottom: 0.75em;
}

.gallery > img:not(:first-child) {
	position: absolute;
	left: 0;
	top: 0;
}

.avatar {
	width: 15vw;
	height: 15vw;
	margin-bottom: 1em;
}