#content {
	height: calc(100vh - 4em);
	display: flex;
	align-items: center;
}

.pages {
	margin: auto;
	width: 50vw;
	height: 25em;
	box-shadow: 1px 1px 1em rgba(0,0,0,0.2);
	border-radius: 0.5em;
	overflow: hidden;
}

.pages > input[type="radio"] {
	display: none;
}

.pages > .page {
	display: none;
	height: calc(100% - 2px);
	background: white;
	width: 100%;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	padding-bottom: 2em;
	box-sizing: border-box;
}

.pages > input[type="radio"]:checked + .page {
	display: flex;
}

.page > .content {
	height: 100%;
	width: 100%;
	padding: 1em;
	padding-bottom: 2em;
}

.page > .buttons {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
}

.page > .buttons > .separator {
	width: 1em;
}

.page > .buttons > *:first-child {
	justify-self: end;
}

.page > .buttons > *:last-child {
	justify-self: start;
}