#content {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	height: calc(100vh - 5em);
}

#register {
	display: flex;
	flex-flow: column;
}

#register > input {
	width: fit-content;
}

#register > button {
	width: fit-content;
	align-self: center;
}

#register > h2 {
	text-align: center;
	margin-bottom: 0;
	cursor: default;
}

#register > label {
	margin-top: 0.75em;
	margin-bottom: 0.25em;
}

#register > button {
	margin: 1em 0;
	width: fit-content;
	align-self: center;
}