#content {
	padding: 0.5em;
}

input {
	width: 20em;
}

.account-info, .portfolio, .integrations {
	display: grid;
	grid-template-columns: 10em auto;
	grid-gap: 1em;
	padding: 1em;
}

.portfolio > button:last-child {
	grid-column: 1;
}

.account-info textarea {
	resize: vertical;
}

.account-avatar {
	display: flex;
	align-items: center;
	height: fit-content;
}

.account-avatar > *:first-child {
	margin-right: 1em;
}

.workflow {
	display: flex;
	align-items: center;
}

.workflow:hover a {
	opacity: 1;
}

.workflow a {
	margin: 0 0.5em;
	transition: 0.15s ease-in opacity;
	opacity: 0;
}