body {
	margin: 0;
	font-size: 1.25em;
}

@font-face {
    font-family: Open Sans;
    src: url('/fonts/OpenSans/OpenSans-Regular.ttf');
}

button {
	appearance: none;
	border: none;
}

label.link {
	color: rgb(150,150,200);
	cursor: pointer;
}

label.link:after {
	content: "↵";
}

.button, button {
	font-size: 1.25em;
	background: rgb(90,90,120);
	padding: 0.3em 0.6em;
	border-radius: 0.3em;
	color: white;
	transition: 0.15s ease-in background;
	cursor: pointer;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

.button:hover, button:hover {
	background: rgb(75,75,135);
}

button.red, .button.red {
	background: rgb(120,90,90);
}

button.yellow, .button.yellow {
	background: rgb(150,150,90);
}

.button.red:hover, button.red:hover {
	background: rgb(135,75,75);
}


.vertical {
	display: flex;
	flex-flow: column;
}

.center {
	align-items: center;
	justify-content: center;
}

.align-center {
	align-items: center;
}

label + input[type="file"], input[type="file"] + label {
	display: none;
}

input[type="text"], textarea, input[type="email"], input[type="password"] {
	padding: 0.7em 0.6em;
	border-radius: 0.3em;
	border: 1px solid rgb(90,90,120);
	max-width: 30em;
}

textarea {
	min-width: 30em;
	min-height: 8em;
	max-height: 15em;
	padding: 1em;
}

select {
	padding: 0.7em 0.3em;
	background: none;
	border: none;
	font-size: 0.95em;
	font-style: italic;
}

select:after {
	content: "v";
}

h1 {
	text-align: center;
}

input[type="checkbox"].check, input[type="checkbox"].spoiler {
	display: none;
}

input[type="checkbox"].check + * {
	opacity: 0.5;
	transition: 0.15s ease-in opacity;
}

input[type="checkbox"].check:hover + * {
	opacity: 0.7;
	cursor: pointer;
}

input[type="checkbox"].check + * > * {
	pointer-events: none;
}

input[type="checkbox"].check:checked + * > * {
	pointer-events: auto;
}
input[type="checkbox"].check:checked + * {
	opacity: 1;
	cursor: default;
}

input[type="checkbox"].spoiler + label + .content {
	transition: 0.4s ease-in max-height;
	max-height: 0;
	overflow: hidden;
}

input[type="checkbox"].spoiler:checked + label + .content {
	max-height: 50vh;
}

input[type="checkbox"].spoiler + label:after {
	content: "v";
	transition: 0.4s ease-out content;
}

input[type="checkbox"].spoiler:checked + label:after {
	content: "^";
}

a {
	color: rgb(120,120,170);
	text-decoration: none;
}

details > summary > h2 {
	display: inline;
}

.note {
	margin-top: 0.5em;
	color: rgb(70,70,70);
	font-size: 0.95em;
	font-style: italic;
}

.split {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-gap: 1em;
}

.horizontal {
	display: flex;
}

.avatar {
	border-radius: 100%;
	background: rgb(100,100,100);
	width: 3em;
	height: 3em;
}

input[type="url"] {
	width: 20em;
}

.card {
	padding: 0.5em 1em;
	border-radius: 0.5em;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
	margin: 0.5em;
	cursor: default;
}

.workflow {
	display: flex;
	align-items: center;
}

.workflow:hover a {
	opacity: 1;
}

.workflow a {
	margin: 0 0.5em;
	transition: 0.15s ease-in opacity;
	opacity: 0;
}

.tag {
	border: 1px solid rgb(110,110,110);
	background: rgb(100,100,100);
	color: white;
	border-radius: 0.5em;
	padding: 0.3em;
}

#content {
	min-height: calc(100% - 4em);
}