.workflows > input[type="radio"] {
	display: none;
}

.workflows > input[type="radio"] + label > .card {
	transition: 0.1s ease-in box-shadow;
	transition: 0.1s ease-in background;
}

.workflows > input[type="radio"]:checked + label > .card {
	box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
	background: rgb(150,225,150);
}