#content {
	padding-top: 1.5em;
}

.photos {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: fit-content;
	margin: auto;
	grid-gap: 2em;
}

#content > header {
	padding: 0 1em;
	margin: 2em 0;
	display: flex;
	align-items: center;
}

#content > header > * {
	margin: 0 0.5em;
}

#content > header > .placeholder {
	width: 0%;
	flex-grow: 1;
}

.photos img {
	width: 20vw;
	height: 20vw;
}