#content {
	height: calc(100vh - 4em);
	display: flex;
	align-items: center;
}

#page_1:checked ~ .progress-bar {
	width: 0;
}
#page_2:checked ~ .progress-bar {
	width: 25%;
}
#page_3:checked ~ .progress-bar {
	width: 50%;
}
#page_4:checked ~ .progress-bar {
	width: 75%;
}
#page_5:checked ~ .progress-bar {
	width: 100%;
}

#page_3 + .page > .content h2 {
	margin: 0.3em 0;
}

#page_2 + .page > .content > .note + span {
	margin-top: 1em;
}

#other-preferences {
	resize: none;
	height: 100%;
}

.progress-bar {
	position: relative;
	bottom: 0;
	height: 2px;
	width: 0;
	background: black;
	transition: 0.3s ease-in-out width;
	box-shadow: 1px -1px 5px rgba(255,255,255,0.2);
}

input:not(:placeholder-shown) + .check {
	opacity: 1;
	pointer-events: initial;
}

input:not(:placeholder-shown):invalid + .check {
	opacity: 0.5;	
}

input + .check {
	opacity: 0;
	pointer-events: none;
}

.check {
	font-size: 1em;
	margin-left: 0.5em;
	transition: 0.2s ease-in opacity;
}

@media (orientation: portrait) {
	.pages {
		width: 90vw;
	}
}
