{{#partial "deps"}}
<link rel="stylesheet" href="/css/me.css" />
{{/partial}}
{{#partial "content"}}
<div class="section-avatar">
	<img src="/img/avatar_placeholder.png" class="avatar" />
	<span class="nickname">{{login}}</span>
	<span class="bio">Bio <a href="/settings">✏️</a></span>
</div>
<div class="section-galleries">
	<div class="gallery">
		<img src="/img/placeholder.jpeg" />
		<img src="/img/placeholder.jpeg" />
		<img src="/img/placeholder.jpeg" />
		<span>Gallery 1</span>
	</div>
	<div class="gallery">
		<img src="/img/placeholder.jpeg" />
		<img src="/img/placeholder.jpeg" />
		<img src="/img/placeholder.jpeg" />
		<span>Gallery 2</span>
	</div>
	<div class="gallery">
		<img src="/img/placeholder.jpeg" />
		<img src="/img/placeholder.jpeg" />
		<img src="/img/placeholder.jpeg" />
		<span>Gallery 3</span>
	</div>
	<div class="gallery">
		<img src="/img/placeholder.jpeg" />
		<img src="/img/placeholder.jpeg" />
		<img src="/img/placeholder.jpeg" />
		<span>Gallery 4</span>
	</div>
	<div class="gallery">
		<img src="/img/placeholder.jpeg" />
		<img src="/img/placeholder.jpeg" />
		<img src="/img/placeholder.jpeg" />
		<span>Gallery 5</span>
	</div>
</div>
{{/partial}}
{{>base}}