{{#partial "deps"}}
<link rel="stylesheet" href="/css/settings.css" />
{{/partial}}
{{#partial "content"}}
<h1>Settings</h1>
<details open>
<summary><h2>Account</h2></summary>
    <form id="account" action="account" method="post">
	<div class="split">
		<div class="account-info">
			<label>Nickname</label>
			<input type="text" />
			<label>First name</label>
			<input type="text" />
			<label>Last name</label>
			<input type="text" />
			<label>Bio</label>
			<textarea></textarea>
		</div>
		<div class="account-avatar">
			<label>Avatar</label>
			<img src="/img/avatar_placeholder.png" class="avatar" />
		</div>
	</div>
        <button type="submit">Save</button>
    </form>
</details>
<details open>
	<summary><h2>Portfolio</h2></summary>
	<div class="split">
		<div class="portfolio">
			<label>URL</label>
			<input type="text" />
			<button class="yellow">Edit</button>
		</div>
	</div>
</details>
<details open>
	<summary><h2>Workflows</h2></summary>
	<div class="split">
		<div>
			<div class="workflow">
				<div class="card">Workflow 1</div>
				<a href="/">✏️</a>
				<a href="/">❌</a>
			</div>
			<div class="workflow">
				<div class="card">Workflow 2</div>
				<a href="/">✏️</a>
				<a href="/">❌</a>
			</div>
		</div>
	</div>
</details>
<details open>
	<summary><h2>Integrations</h2></summary>
	<div class="split">
		<div class="integrations">
			<label>Telegram</label>
			<input type="text" placeholder="Your telegram username or id" />
			<label>Email</label>
			<input type="email" />
		</div>
	</div>
</details>
{{/partial}}
{{>base}}