{{#partial "deps"}}
<link rel="stylesheet" href="/css/pages.css" />
<link rel="stylesheet" href="/css/set/create.css" />
{{/partial}}
{{#partial "content"}}
	<div class="pages">
		<input id="page_1" type="radio" name="page" checked />
		<div class="page">
			<div class="content">
				<h1>You are about to create&nbsp;a&nbsp;set</h1>
				<h2>Firstly, let's upload your photos</h2>
				<label class="button" for="upload-file">Upload</label>
				<input id="upload-file" type="file" 
										accept=".png,.jpg,.jpeg" 
										multiple />
				<span class="note">0 files selected</span>
			</div>
			<span class="buttons">
				<div></div>
				<label class="button" for="page_2">Next</label>
				<div></div>
			</span>
		</div>
		<input id="page_2" type="radio" name="page" />
		<div class="page">
			<div class="content">
				<h1>Let's name your set and configure it</h1>
				<label>Name</label>
				<input type="text" />
				<br>
				<label>Visibility</label>
				<select>
					<option>Public</option>
					<option>By link</option>
				</select>
			</div>
			<span class="buttons">
				<label class="button" for="page_1">Back</label>
				<div class="separator"></div>
				<label class="button" for="page_3">Next</label>
			</span>
		</div>
		<input id="page_3" type="radio" name="page" />
		<div class="page">
			<div class="content">
				<h1>What workflow will we use today?</h1>
				<div class="split">
					<div class="workflows">
						<input id="workflow-1" type="radio" name="workflow" />
						<label for="workflow-1" class="workflow">
							<div class="card">Workflow 1</div>
							<a href="/">✏️</a>
							<a href="/">❌</a>
						</label>
						<input id="workflow-2" type="radio" name="workflow" />
						<label for="workflow-2" class="workflow">
							<div class="card">Workflow 2</div>
							<a href="/">✏️</a>
							<a href="/">❌</a>
						</label>
					</div>
					<hr/>
					<div>
						<h2>Workflow 1 consists of</h2>
						<ol>
							<li>Raw photo upload</li>
							<li>Filtration</li>
							<li>Processed photo preview</li>
							<li>Edits</li>
							<li>Photo download</li>
						</ol>
					</div>
				</div>
			</div>
			<span class="buttons">
				<label class="button red" for="page_2">Back</label>
				<div class="separator"></div>
				<label class="button" for="page_4">Confirm</label>
			</span>
		</div>
		<input id="page_4" type="radio" name="page" />
		<div class="page">
			<div class="content">
				<h1>Set have been created</h1>
				<h2>Link to your set</h2>
				<input type="url" disabled value="domain.com/set/99888c71-a2db-40fd-b8af-3c8831de93f6" />
				<span>📋</span>
				<br>
				<br>
				<div class="note">Share this link with your client to start working with set</div>
			</div>
			<span class="buttons">
				<div></div>
				<label class="button">Go to set</label>
				<div></div>
			</span>
		</div>
	</div>
{{/partial}}
{{>base}}