{{#partial "deps"}}
<link rel="stylesheet" href="/css/set/info.css" />
{{/partial}}
{{#partial "content"}}
<h1>Set 'Test'</h1>
<header>
	<span class="tag">Filtration</span>
	<span>Photos: 9</span>
	<div class="placeholder"></div>
	<span class="tag">Workflow 1</span>
</header>
<div class="photos">
	<img src="/img/placeholder.jpeg" />
	<img src="/img/placeholder.jpeg" />
	<img src="/img/placeholder.jpeg" />
	<img src="/img/placeholder.jpeg" />
	<img src="/img/placeholder.jpeg" />
	<img src="/img/placeholder.jpeg" />
	<img src="/img/placeholder.jpeg" />
	<img src="/img/placeholder.jpeg" />
	<img src="/img/placeholder.jpeg" />
</div>
{{/partial}}
{{>base}}