{{#partial "deps"}}
<link rel="stylesheet" href="/css/pages.css" />
<link rel="stylesheet" href="/css/set/new.css" />
{{/partial}}
{{#partial "content"}}
	<div class="pages">
		<input id="page_1" type="radio" name="page" checked />
		<div class="page">
			<div class="content vertical">
				<h1>Let's start with your set</h1>
				<br>
				<label>Set added by <a href="">@admin</a> on 2023.01.17</label>
				<br>
				<label>Set contains 9 photos</label>
				<br>
				<div class="placeholder"></div>
				<span class="note">
					During our initial setup you can define your preferences for set.<br>
					After startup, your photographer will start to make progress
				</span>
			</div>
			<span class="buttons">
				<div></div>
				<label class="button" for="page_2">Start</label>
				<div></div>
			</span>
		</div>
		<input id="page_2" type="radio" name="page" />
		<div class="page">
			<div class="content vertical">
				<h1>Do you have any preferences?</h1>
				<span class="note">You can change these parameters later</span>
				<span>
					<label>
						Ship my photos:
						<select>
							<option>All at once</option>
							<option>As soon as ready</option>
						</select>
					</label>
				</span>
				<span>
					<label for="size">Photo size:</label>
					<select>
						<option>Any</option>
						<option>Instagram</option>
						<option>Telegram</option>
					</select>
				</span>
				<span>
					<label for="ratio"> Aspect ratio:</label>
					<select>
						<option selected>Any</option>
						<optgroup label="preset">
							<option>16:9</option>
							<option>16:10</option>
							<option>4:3</option>
							<option>1:1</option>
						</optgroup>
						<optgroup label="social media">
							<option>Instagram</option>
							<option>Telegram</option>
						</optgroup>
					</select>
				</span>
			</div>
			<span class="buttons">
				<label class="button red" for="page_1">Back</label>
				<div class="separator"></div>
				<label class="button" for="page_3">Continue</label>
			</span>
		</div>
		<input id="page_3" type="radio" name="page" />
		<div class="page">
			<div class="content">
				<h1>Do you want to be notified?</h1>
				<div class="split">
					<div class="note">
						<br>
						You will receive only notifications of progress. We don't send neither ads nor our news
					</div>
					<hr/>
					<div>
						<h2>Via email</h2>
						<div class="horizontal">
							<input type="email" placeholder="your email" />
							<button class="check">Check</button>
						</div>
						<h2>Via Telegram</h2>
						<div class="horizontal">
							<input type="text" placeholder="your telegram id or username" />
							<button class="check">Check</button>
						</div>
					</div>
				</div>
			</div>
			<span class="buttons">
				<label for="page_2" class="button red">Back</label>
				<div class="separator"></div>
				<label for="page_4" class="button">Continue</label>
			</span>
		</div>
		<input id="page_4" type="radio" name="page" />
		<div class="page">
			<div class="content vertical align-center">
				<h1>Workflow overview</h1>
				<ol>
					<li>Raw photo upload</li>
					<li>Filtration</li>
					<li>Processed photo preview</li>
					<li>Edits</li>
					<li>Photo download</li>
				</ol>
			</div>
			<span class="buttons">
				<label for="page_3" class="button red">Back</label>
				<div class="separator"></div>
				<label for="page_5" class="button">Continue</label>
			</span>
		</div>
		<input id="page_5" type="radio" name="page" />
		<div class="page">
			<div class="content vertical align-center">
				<h1>Final steps</h1>
				<h2>Have anything to add?</h2>
				<textarea id="other-preferences" placeholder="Other preferences" cols="50"></textarea>
			</div>
			<span class="buttons">
				<label for="page_4" class="button red">Back</label>
				<div class="separator"></div>
				<label for="page_4" class="button">Submit</label>
			</span>
		</div>
		<div class="progress-bar">
		</div>
	</div>
{{/partial}}
{{>base}}