<html>
	<head>
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/header.css" />
		{{#block "deps"}}
		{{/block}}
	</head>
	<body>
		{{#block "header"}}
		<input type="checkbox" id="header-check" />
		<header id="header">
			<a href="/">Home</a>
			<a href="/features">Features</a>
			<span class="placeholder"></span>
			{{#if login}}
			<a href="/me">Me</a>
			{{else}}
			<a href="/login">Login</a>
			{{/if}}
		</header>
		<div id="check-label-wrapper">
			<label for="header-check"></label>
		</div>
		{{/block}}
		<div id="content">
			{{#block "content" }}
			{{/block}}
		</div>
	</body>
</html>