{{#partial "deps"}}
	<link rel="stylesheet" href="/css/features.css" />
{{/partial}}
{{#partial "content"}}
	<div class="section no-background">
		<h2>Explore our features</h2>
	</div>
	<div class="section">
		<img class="background" src="/img/storage.jpeg" />
		<h2>Photo storage</h2>
		<span>Free up your space by uploading photos to our service</span>
	</div>
	<div class="section">
		<img class="background" src="/img/workflow.jpeg" />
		<h2>Custom workflows</h2>
		<span>Configure and automate your workflows</span>
	</div>
	<div class="section">
		<img class="background" src="/img/portfolio.jpeg" />
		<h2>Portfolio</h2>
		<span>Create your own portfolio</span>
	</div>
{{/partial}}
{{>base}}